@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "Outfit", sans-serif;
}
.active{
    background-color: #cacaca;
    border: 1px solid black;
    border-right: none;
}

select,input,textarea{
    border: 1px solid #c2c2c2;
    outline-color: #999999;
    border-radius: 4px;
}